/* anti-gradient */

section.sidebar__section,
div.mainlowermiddle,
div.mainheadmiddle,
div#hbot {
	background: #7B291B !important;
}

span.forum-action-button,
span.post-action-button,
span.navsearch {
	background: #cac4c4 !important;
}


/* fancy underlines */

a.postlink,
li.navbutton a,
a.maintitle,
a.nav,
aside a,
a.username,
li.sax-message a,
li.post-datetime a {
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size .3s;
}

a.postlink:hover,
a.postlink:focus,
li.navbutton:hover a,
li.navbutton:focus a,
a.maintitle:hover,
a.maintitle:focus,
a.nav:hover,
a.nav:focus,
aside a:hover,
aside a:focus,
a.username:hover,
a.username:focus,
li.sax-message a:hover,
li.sax-message a:focus,
li.post-datetime a:hover,
li.post-datetime a:focus {
	text-decoration: none;
	background-size: 100% 1px;
}

li.navbutton:hover {
	border-color: transparent;
	box-shadow: none;
	background: none;
}


/* hide useless sidebar stuff */

.sidebar__section:nth-child(1),
.sidebar__section:nth-child(3) {
	display: none;
}

.sidebar__section:only-child {
	display: block;
}


/* hide annoying borders */

.post-header {
	border-bottom: none !important;
}

.post,
.typepost,
.helpline {
	border: none !important;
}

img.avatar,
.profile_avatar img,
.ppd_graph img {
	border: none !important;
}

.post-action {
	border-top: 1px solid #bbb !important;
	border-left: 1px solid #bbb !important;
}

.forum-action-button {
	border: none !important;
}

table {
	border-collapse: collapse;
}

.spaceRow.hdivider_thick {
	display: none !important;
}

tr>th {
	border-bottom: 1px solid #7B291B !important;
}

div.staffpix img {
	border: none !important;
}

.sideheadtop,
.roundedtop {
	border: none !important;
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
}


/** fix borders on registration/editing page **/

.row2 .post {
	border: 1px solid #7B291B !important;
}


/* fix gap in header */

#hbot {
	top: 1px !important;
}


/* fix stupid sax thing with double author tags */

.sax-username[title^="saxjax@cemetech.net"] {
	display: none;
}


/* remove backgrounds */

.navbread {
	background: transparent !important;
}

.innersidebar {
	background: transparent !important;
}


/* sidebar hover effect */

.sidebar__section {
	transition: box-shadow 0.3s ease-in-out;
}

.sidebar__section:hover {
	box-shadow: -3px 3px 5px #999;
}


/* make back to top arrows more discreet */

a[href="#top"] {
	visibility: hidden !important;
}

a[href="#top"]::before {
	content: '↑';
	visibility: visible;
}


/* wider sax */

.sidebar {
	width: 14.5rem !important;
}

#page_content_parent {
	width: calc(100% - 15rem) !important;
}

.sax-message {
	font-size: 0.675rem !important;
}

@media (max-width: 60em) {
	.sidebar {
		width: auto !important;
	}
}


/* remove top and bottom gaps in borders */

.sideheadtop,
.mainheadmiddle {
    margin: 0 !important;
}

.mainbody {
    margin-bottom: 0 !important;
}
