/* anti-gradient */

section.sidebar__section,
div.mainheadmiddle,
div#hbot {
	background: #7B291B !important;
}

span.forum-action-button,
span.post-action-button {
	background: #c4c4c4 !important;
}

div.navsearch {
	background: #eee !important;
}


/* fancy underlines */

a.postlink,
li.navbutton a,
a.maintitle,
a.nav,
aside a,
a.username,
li.sax-message a,
li.post-datetime a {
	text-decoration: none !important;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0 1px;
	transition: background-size .3s;
}

a.postlink:hover,
a.postlink:focus,
li.navbutton:hover a,
li.navbutton:focus a,
a.maintitle:hover,
a.maintitle:focus,
a.nav:hover,
a.nav:focus,
aside a:hover,
aside a:focus,
a.username:hover,
a.username:focus,
li.sax-message a:hover,
li.sax-message a:focus,
li.post-datetime a:hover,
li.post-datetime a:focus {
	text-decoration: none !important;
	background-size: 100% 1px;
}

li.navbutton:hover {
	border-color: transparent !important;
	box-shadow: none !important;
	background: none !important;
}


/* hide useless stuff */

.sidebar__section:nth-child(1),
.sidebar__section:nth-child(3) {
	display: none;
}

.sidebar__section:only-child {
	display: block;
}

#cemetech-at-a-glance .glance_boxes>div:nth-child(3) {
	display: none;
}


/* hide annoying borders */

.post-header {
	border-bottom: none !important;
}

.post,
.typepost,
.helpline {
	border: none !important;
}

img.avatar,
.profile_avatar img,
.ppd_graph img {
	border: none !important;
}

.post-action {
	border-top: 1px solid #bbb !important;
	border-left: 1px solid #bbb !important;
}

.forum-action-button,
.post-action-button {
	border: none !important;
}

table {
	border-collapse: collapse;
}

.spaceRow.hdivider_thick {
	display: none !important;
}

tr>th {
	border-bottom: 1px solid #7B291B !important;
}

div.staffpix img,
div.staffpixsmall img {
	border: none !important;
}

.sideheadtop,
.roundedtop {
	border: none !important;
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
}

.mainheadmiddle {
	border-top: none !important;
}

.mainlowermiddle {
	height: 0 !important;
	border-bottom: none !important;
}

.mainbody {
	padding-bottom: 0.625rem !important;
}

.topictools_boxes {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}


/** fix borders on registration/editing page **/

.row2 .post {
	border: 1px solid #7B291B !important;
}


/* fix gaps */

#hbot {
	top: 1px !important;
}

.mainbody,
.sideheadtop,
.mainheadmiddle {
	margin-bottom: 1px !important;
}

.sideheadtop,
.roundedtop {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}

.sidebar__section {
	margin-bottom: 0.625rem !important;
	margin-top: 0 !important;
}

.mainbodyinner {
	padding: 0 !important;
}

.mainbodyinner>*:not(ul):not(ol) {
	padding: 0.1875rem !important;
}

footer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#logo_img,
#motto_img {
	bottom: 0.75em !important;
}

#logo_img {
	left: 0.75em !important;
}

#motto_img {
	right: 0.75em !important;
}


/* make 1px gaps look intentional + match sidebar */

.mainheadmiddle:before,
.mainheadmiddle:after {
	content: '';
	width: 0.625em;
	height: 1px;
	bottom: -1px;
	position: absolute;
	background-color: #7B291B;
	box-sizing: border-box;
}

.mainheadmiddle:before {
	left: 0px;
}

.mainheadmiddle:after {
	right: 0px;
}


/* fix stupid sax thing with double author tags */

.sax-username[title^="saxjax@cemetech.net"] {
	display: none;
}


/* remove backgrounds */

.navbread {
	background: transparent !important;
}

.innersidebar {
	background: transparent !important;
}


/* hover effects */

.sidebar__section,
.nav-section__item,
.file-detail__download-button,
.forum-action-button,
.post-action-button,
table.forumline table table table {
	transition: box-shadow 0.3s ease-in-out;
}

.sidebar__section:hover,
.nav-section__item:hover,
.file-detail__download-button:hover {
	box-shadow: -3px 3px 5px #999;
}

.forum-action-button:hover,
.post-action-button:hover,
table.forumline table table table:hover {
	box-shadow: -2px 2px 3px #aaa;
}


/* make back to top arrows more discreet */

a[href="#top"],
a[href="#Top"] {
	visibility: hidden !important;
}

a[href="#top"]::before,
a[href="#Top"]::before {
	content: '↑';
	visibility: visible;
}


/* wider sax */

.sidebar {
	width: 14.5rem !important;
}

.sax-message {
	font-size: 0.675rem !important;
}

@media (max-width: 60em) {
	.sidebar {
		width: auto !important;
	}
	.sidebar__section {
		margin-top: 0 !important;
		margin-bottom: 0.625rem !important;
	}
}

@media (min-width: 60em) {
	#page_content_parent {
		width: calc(100% - 15rem) !important;
	}
}


/* color accessibility */

ul.pagination li:hover {
	background-color: #ccc !important;
}


/* center headings on member list */

.thTop {
	text-align: center;
}


/* dynmap stuff, because I can */

#mcmap>.chat {
	display: none;
}


/* polls */


/** Dear future employer... I promise I will not write code like this in production if you promise not to ask me about this **/

table.forumline table table table {
	background: #7B291B;
	border-radius: 3px;
	line-height: 0.75em !important;
}

table.forumline table table table>* {
	visibility: hidden;
}

img[src$="/vote_lcap.gif"],
img[src$="/vote_rcap.gif"] {
	display: none;
}


/* pips */

.profile_brief .gen:nth-child(6) {
	display: inline-block;
}

.user-info-row.pips,
.profile_brief .gen:nth-child(6) {
	width: fit-content;
	width: -moz-fit-content;
	height: 0.75em;
	border-radius: 3px;
	background: #7B291B;
}

.user-info-row.pips img[src*="pips"],
.profile_brief .gen:nth-child(6) img[src*="pips"] {
	visibility: hidden;
}

.user-info-row.pips img[src$='pips/1.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/1.png"] {
	width: 0.75em;
}

.user-info-row.pips img[src$='pips/2.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/2.png"] {
	width: 1.5em;
}

.user-info-row.pips img[src$='pips/3.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/3.png"] {
	width: 2.25em;
}

.user-info-row.pips img[src$='pips/4.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/4.png"] {
	width: 3em;
}

.user-info-row.pips img[src$='pips/5.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/5.png"] {
	width: 3.75em;
}

.user-info-row.pips img[src$='pips/6.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/6.png"] {
	width: 4.5em;
}

.user-info-row.pips img[src$='pips/7.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/7.png"] {
	width: 5.25em;
}

.user-info-row.pips img[src$='pips/8.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/8.png"] {
	width: 6em;
}

.user-info-row.pips img[src$='pips/9.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/9.png"] {
	width: 6.75em;
}

.user-info-row.pips img[src$='pips/10.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/10.png"] {
	width: 7.5em;
}

.user-info-row.pips img[src$='pips/expert.png'],
.profile_brief .gen:nth-child(6) img[src*="pips/expert.png"] {
	/* this doesn't work- needs to be fixed */
	content: url("templates/Cemetech6/images/pips/expert.png");
	height: auto;
}


/* center search bar vertically */

.navsearch {
	margin-top: 0.375rem !important;
}


/* fix new post form widths */

div.genmed,
div.code-buttons {
	max-width: 40rem;
}

#quickreply label textarea.typepost {
	max-width: none;
	min-height: 10rem;
	resize: vertical;
}


/* force maximum size on avatars */

.profile_avatar > img {
	max-width: 80px;
	max-height: 80px;
}


/* fix fuzzy jstified */

canvas#screen, canvas#big_screen_canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}


/* fix slow snow */

.fast_snow_overlay {
	position: absolute;
	width: 100%;
	top: -1px;
}


/* add version information to footer */


/* make sure this style is always the last one in the style sheet for future maintainers */

footer::after {
	content: '\A Cemetech Userstyles v2.2.0 by _iPhoenix_ and contributors';
	white-space: pre-wrap;
}
